.u-section-1 .u-sheet-1 {
  min-height: 1030px;
}

.u-section-1 .u-layout-wrap-1 {
  pointer-events: auto;
  margin-top: 35px;
  margin-bottom: 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 658px;
  pointer-events: auto;
}

.u-section-1 .u-container-layout-1 {
  padding: 0 6px 1px;
}

.u-section-1 .u-text-1 {
  margin: 0 auto;
}

.u-section-1 .u-text-2 {
  margin: 17px 54px 0;
}

.u-section-1 .u-shape-1 {
  width: 334px;
  height: 97px;
  animation-duration: 1000ms;
  margin: 35px 37px 0 186px;
}

.u-section-1 .u-shape-2 {
  width: 332px;
  height: 97px;
  animation-duration: 1000ms;
  margin: 42px 188px 0 37px;
}

.u-section-1 .u-shape-3 {
  height: 125px;
  animation-duration: 1000ms;
  background-image: none;
  margin: 61px 13px 0;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 15px 0 0 auto;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 658px;
  pointer-events: auto;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 60px;
}

.u-section-1 .u-group-1 {
  width: 420px;
  background-image: none;
  min-height: 595px;
  margin: 0 auto;
}

.u-section-1 .u-container-layout-3 {
  padding: 17px 0;
}

.u-section-1 .u-text-3 {
  margin: 8px auto 0;
}

.u-section-1 .u-line-1 {
  width: 302px;
  height: 3px;
  transform-origin: left center 0px;
  margin: 17px auto 0;
}

.u-section-1 .u-text-4 {
  margin: 33px auto 0 17px;
}

.u-section-1 .u-icon-1 {
  width: 64px;
  height: 64px;
  margin: 8px auto 0 17px;
}

.u-section-1 .u-text-5 {
  margin: -57px auto 0 89px;
}

.u-section-1 .u-text-6 {
  margin: 0 auto 0 89px;
}

.u-section-1 .u-text-7 {
  margin: 20px auto 0 17px;
}

.u-section-1 .u-icon-2 {
  width: 64px;
  height: 64px;
  margin: 8px auto 0 17px;
}

.u-section-1 .u-text-8 {
  margin: -57px auto 0 89px;
}

.u-section-1 .u-text-9 {
  margin: 0 auto 0 89px;
}

.u-section-1 .u-btn-2 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: -24px 111px 60px auto;
  padding: 18px 94px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 915px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 543px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 4px;
    margin-right: 4px;
  }

  .u-section-1 .u-shape-1 {
    margin-right: 0;
    margin-left: 124px;
  }

  .u-section-1 .u-shape-2 {
    margin-right: 126px;
    margin-left: 0;
  }

  .u-section-1 .u-shape-3 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-2 {
    background-position: 50% 50%;
    min-height: 543px;
  }

  .u-section-1 .u-group-1 {
    width: 350px;
  }

  .u-section-1 .u-btn-2 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 472px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-shape-1 {
    margin-left: 14px;
  }

  .u-section-1 .u-shape-2 {
    margin-right: 16px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-group-1 {
    width: 300px;
  }

  .u-section-1 .u-line-1 {
    width: 300px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-container-layout-1 {
    padding-left: 50px;
    padding-right: 50px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-shape-1 {
    width: 328px;
    margin-left: 0;
  }

  .u-section-1 .u-shape-2 {
    width: 328px;
    margin-right: 0;
  }
}