.u-section-1 .u-sheet-1 {
  min-height: 1233px;
}

.u-section-1 .u-layout-wrap-1 {
  pointer-events: auto;
  margin-top: 35px;
  margin-bottom: 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 1039px;
  pointer-events: auto;
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-text-1 {
  margin: 0 auto;
}

.u-section-1 .u-text-2 {
  margin: 17px 60px 0;
}

.u-section-1 .u-text-3 {
  animation-duration: 1000ms;
  width: 95px;
  margin: 2px auto 0;
}

.u-section-1 .u-shape-1 {
  width: 334px;
  height: 97px;
  animation-duration: 1000ms;
  margin: 12px 27px 0 auto;
}

.u-section-1 .u-shape-2 {
  width: 332px;
  height: 97px;
  animation-duration: 1000ms;
  margin: 39px 194px 0 43px;
}

.u-section-1 .u-group-1 {
  animation-duration: 1000ms;
  background-image: none;
  width: 731px;
  min-height: 494px;
  height: auto;
  margin: 59px auto 0;
}

.u-section-1 .u-container-layout-2 {
  padding: 18px 20px;
}

.u-section-1 .u-text-4 {
  margin: 0 auto 0 0;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 24px 9px 0 auto;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 1039px;
  pointer-events: auto;
  animation-duration: 1000ms;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px 43px;
}

.u-section-1 .u-group-2 {
  width: 219px;
  background-image: none;
  min-height: 355px;
  height: auto;
  animation-duration: 1000ms;
  margin: 0 0 0 auto;
}

.u-section-1 .u-container-layout-4 {
  padding: 17px 0;
}

.u-section-1 .u-text-5 {
  margin: 8px auto 0;
}

.u-section-1 .u-line-1 {
  width: 101px;
  height: 3px;
  transform-origin: left center 0px;
  margin: 17px auto 0;
}

.u-section-1 .u-text-6 {
  margin: 33px auto 0 17px;
}

.u-section-1 .u-icon-1 {
  width: 64px;
  height: 64px;
  animation-duration: 1000ms;
  margin: 8px auto 0 17px;
}

.u-section-1 .u-text-7 {
  margin: -57px auto 0 89px;
}

.u-section-1 .u-text-8 {
  margin: 0 auto 0 89px;
}

.u-section-1 .u-text-9 {
  margin: 20px auto 0 17px;
}

.u-section-1 .u-icon-2 {
  width: 64px;
  height: 64px;
  animation-duration: 1000ms;
  margin: 8px auto 0 17px;
}

.u-section-1 .u-text-10 {
  margin: -57px auto 0 89px;
}

.u-section-1 .u-text-11 {
  margin: 0 auto 0 89px;
}

.u-section-1 .u-btn-2 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 73px -59px 24px auto;
  padding: 18px 94px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1326px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 857px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-group-1 {
    width: 674px;
    height: auto;
  }

  .u-section-1 .u-btn-1 {
    margin-right: 0;
  }

  .u-section-1 .u-layout-cell-2 {
    background-position: 50% 50%;
    min-height: 857px;
  }

  .u-section-1 .u-group-2 {
    width: 350px;
    height: auto;
  }

  .u-section-1 .u-line-1 {
    width: 302px;
  }

  .u-section-1 .u-btn-2 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 883px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-shape-2 {
    margin-right: 168px;
    margin-left: 17px;
  }

  .u-section-1 .u-group-1 {
    width: 516px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-group-2 {
    width: 300px;
  }

  .u-section-1 .u-line-1 {
    width: 300px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 472px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 50px;
    padding-right: 50px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-shape-1 {
    margin-right: 6px;
  }

  .u-section-1 .u-shape-2 {
    margin-right: 8px;
    margin-left: 0;
  }

  .u-section-1 .u-group-1 {
    width: 340px;
  }
}